* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    overflow-x: hidden;
  }
  
  a{
    text-decoration: none;

  }

  ul{
    list-style: none;
  }

  /* navbar */
  .container-fluid{
    position:absolute;
    display: flex;
    left: 0;
    width: 100%;
    justify-content: space-between;
    color:white;
    top: 0;
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.7); 
    background-color: transparent;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    }
    
  h1 {
    color: white;
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.7); 
    margin-left: 20px;
    padding: 1px;
    font-size: 28px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    }
  
    .nav-item{
    color: white;
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.7); 
    margin-left: 0px;
    padding: 2px;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    }
  
    .nav-links{
      margin : 0px;
      font-size: 15px;
      font-weight: bold;
      text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7); 
      padding: 7px; 
      padding-right: 4px;
      text-decoration: none;
      color: white;
      font-family: 'Times New Roman', Times, serif;
    }
    .nav-links:hover{
      color: greenyellow;
    }
  
    .ctn{
      padding: 8px 15px;
      background: #fc036b;
      font-family: 'Times New Roman', Times, serif;
      border-radius: 10px;
      color: white;
      text-decoration: none;
      }
      .ctn:hover{
      background: black;
    }

    header{
        width: 100vw;
        height: 100vh;
        background-image: url(/images/thingsdo.jpeg);
        background-position: top;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        justify-content: center;
      }
    
      .header{
        margin-bottom: 90px;
        color: white;
        text-align: center;
      }
      .header h2{
        font-size: 10vmin;
        text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.7);  
        font-family: 'Times New Roman', Times, serif;
      }

  p {
    font-size: 25px;
    padding: 10px;
    text-wrap: wrap;
    text-align: justify;
    color: black;
    font-family:Arial, Helvetica, sans-serif;

  }
  
  @media (max-width: 768px) {
    p {
      font-size: 14px; 
    }
  }
  
  @media (max-width: 480px) {
    p {
      font-size: 12px;  
    }
  }
  

  /* cards */

  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1px;
    max-width: 100vw;
    width: 100%;
    padding: 20px;
    padding-top: 2px;
    margin-left: 0px;
  }

  .card {
    background-color: white;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    
  }
  
 
  
  .card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-size: cover;
  }
  
  .card-content {
    padding: 2px;
    margin: 5px;

  }
  
  .card-title {
    font-size: 1.5rem;
   margin-left: 3px;
  }
  
  .card-description {
    font-size: 1rem;
    margin: 6px;
    padding: 0px;
    color: #555;
  }   
  .btn{
  padding: 6px 15px;
  background: #fc036b;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  list-style: none;
}
.btn:hover{
  background: black;
  color: white;

}

/* carousel */
.card-main{
  margin-bottom: 30px;
  margin-top: 30px;
  
}
.h1{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
.img{
  max-width: 100%;
  height: auto;
}

.card-text{
  font-size: 20px;
}
@media (max-width: 768px) {
  .card-text{
    font-size: 14px; 
  }
}

@media (max-width: 480px) {
  .card-text{
    font-size: 12px;  
  }
}
/* footer */

footer {
  background-color: #2d2d2d;
  color: white;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  }
  
  .footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  }
  
  .footer-section {
  width: 30%;
  margin-bottom: 20px;
  }
  
  .footer-section h3 {
  font-size: 1.5rem;
  margin-bottom: 17px;
  margin-left: 25px;
  }
  .footer-section h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  margin-left: 5px;
  }
  
  .footer-section p {
  font-size: 1rem;
  line-height: 1.6;
  color: #ddd;
  }
  
  @media (max-width: 768px) {
  .footer-section p {
    font-size: 12px; 
  }
  }
  
  @media (max-width: 480px) {
  .footer-section p {
    font-size: 10px;  
  }
  }
  
  
  .footer-section ul {
  list-style-type: none;
  padding: 0;
  }
  
  .footer-section ul li {
  margin-bottom: 10px;
  }
  
  .footer-section ul li a {
  color: #ccc;
  text-decoration: none;
  font-size: 1rem;
  text-align: justify;
  margin-left: 0px;
  padding: 30px;
  }
  
  @media (max-width: 768px) {
  .footer-section ul li a{
    font-size: 12px; 
  }
  }
  
  @media (max-width: 480px) {
  .footer-section ul li a{
    font-size: 10px;  
  }
  }
  
  
  .footer-section ul li a:hover {
  color: #fff;
  }
  
  .footer-bottom {
  text-align: center;
  margin-top: 20px;
  }
  
  .footer-bottom p {
  font-size: 1rem;
  color: white;
  text-align: center;
  }
  
  @media (max-width: 768px) {
  .footer-bottom p{
    font-size: 14px; 
  }
  }
  
  @media (max-width: 480px) {
  .footer-bottom p{
    font-size: 12px;  
  }
  }